.payment-summary-wrap {
  position: sticky;
  top: 30px;
}

.payment-summary {
  border-top: 2px solid #1d70b8;
  padding: 15px;
  background-color: #f3f2f1;
}

.payment-summary .amount {
  display: block;
}

.bank-logo {
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.bank-with-logo {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
  margin-left: 15px;
}