<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  {{ template "head.html" }}
  <title>Payment cancelled - GOV.UK Pay</title>
</head>

<body class="govuk-template__body">
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l">Your payment has been cancelled</h1>
      <p class="govuk-body-l">No money has been taken from your account.</p>

      {{ if .ContinueOnDesktop }}
      <p class="govuk-body">Go back to your desktop browser to continue.</p>
      {{ else }}
      <a id="return-url" role="button" class="govuk-button" href="{{ .Payment.ReturnURL }}">Continue</a>
      {{ end }}
    </div>
  </main>

  {{ template "footer.html" }}
</body>

</html>