<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  {{ template "head.html" }}
  <title>Continue to payment - GOV.UK Pay</title>
</head>

<body class="govuk-template__body">
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds ">

          <h1 class="govuk-heading-l">Pay faster with mobile app</h1>

          <p class="govuk-body">Use your phone's camera app to scan the code. This will open your bank's mobile app</p>

          <img src="data:image/png;base64,{{.QR}}" />

          <p class="govuk-body govuk-!-margin-top-6">Or continue to your bank to make the payment in this browser window</p>

          <a class="govuk-button" data-module="govuk-button" href="{{ .ContinueOnDesktopAction }}">
            Continue on desktop
          </a>
        </div>

        <div class="govuk-grid-column-one-third payment-summary-wrap">
          <aside class="payment-summary">
            <h2 class="govuk-heading-m">Payment summary</h2>
            <p id="payment-description" class="govuk-body">
              {{ .Payment.Description }}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
              Total amount:
              <span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold">
                £{{ .Payment.AmountInPence }}
              </span>
            </p>
          </aside>
        </div>

      </div>
    </div>
  </main>

  {{ template "footer.html" }}
</body>

</html>