<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  {{ template "head.html" }}
  <title>Payment successful - GOV.UK Pay</title>
</head>

<body class="govuk-template__body">
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l">Your payment was unsuccessful</h1>
      <p class="govuk-body-l">No money has been taken from your account. Contact your bank for more details.</p>
    </div>
  </main>
</body>

</html>