<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  {{ template "head.html" }}
  <title>Select payment method - GOV.UK Pay</title>
</head>

<body class="govuk-template__body">
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds ">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Select how you want to pay
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="bank-single-payment" name="select-method" type="radio"
                    value="bank-single-payment">
                  <label class="govuk-label govuk-radios__label" for="bank-single-payment">
                    Pay with your bank
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="card" name="select-method" type="radio" value="card">
                  <label class="govuk-label govuk-radios__label" for="card">
                    Credit/Debit card
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <a class="govuk-button" data-module="govuk-button" href="{{ .Action }}">
            Continue
          </a>
        </div>

        <div class="govuk-grid-column-one-third payment-summary-wrap">
          <aside class="payment-summary">
            <h2 class="govuk-heading-m">Payment summary</h2>
            <p id="payment-description" class="govuk-body">
              {{ .Payment.Description }}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
              Total amount:
              <span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold">
                £{{ .Payment.AmountInPence }}
              </span>
            </p>
          </aside>
        </div>

      </div>
    </div>
  </main>

  {{ template "footer.html" }}
</body>

</html>