<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Select your bank - GOV.UK Pay</title>
  <link rel="stylesheet" href="/stylesheets/govuk-frontend-3.6.0.min.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">

      <form id="select-provider" name="select-provider" method="POST" action="{{ .Action }}" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Choose your bank
              </h1>
            </legend>
            <span id="changed-name-hint" class="govuk-hint">
              You will be transferred to login to your online banking to complete the payment.
            </span>
            <div class="govuk-radios">
              {{range .Providers}}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{ .Id }}" name="changed-name" type="radio" value="{{ .Id }}">
                <label class="govuk-label govuk-radios__label" for="{{ .Id }}">
                  {{ .DisplayableName }}
                </label>
              </div>
              {{else}}
              <div>No banks available</div>
              {{end}}
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>

    </div>
  </main>
</body>

</html>