<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  {{ template "head.html" }}
  <title>Payment successful - GOV.UK Pay</title>
</head>

<body class="govuk-template__body">
  {{ template "header.html" . }}

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your payment has been submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number is<br><strong>{{ .Payment.Reference }}</strong>
        </div>
      </div>

      {{ if .ContinueOnDesktop }}
      <p class="govuk-body">Go back to your desktop browser to continue.</p>
      {{ end }}
    </div>
  </main>

  {{ template "footer.html" }}
</body>

</html>